@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@400;600;700&display=swap");
$heading1: normal normal 400 100px/125px "Courgette",
serif;
$heading2: normal normal bold 50px/30px "Courgette",
serif;
$heading3: normal normal bold 40px/160% "Courgette",
serif;
$heading4: normal normal bold 30px/160% "Courgette",
serif;
$heading5: normal normal bold 20px/160% "Open Sans",
sans-serif;
$bigRegular: normal normal normal 30px/160% "Open Sans",
sans-serif;
$regular: normal normal normal 18px/160% "Open Sans",
sans-serif;
$small: normal normal normal 16px/160% " Open Sans",
sa ns-serif;
$primary: #ffe066;
$yellow: #f4ce37;
$white1: #e8e8e8;
$white2: #ffffff;
$black1: #0b090a;
$black2: #0f0c0d;
body {
    margin: 0;
    background-color: $black1;
    color: $white1;
    font: $regular;
}

h1,
h2,
h3,
h4 {
    color: $primary;
}

h1 {
    font: $heading1;
}

h2 {
    font: $heading2;
}

h3 {
    font: $heading3;
}

h4 {
    font: $heading4;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
}

.flex-col {
    display: flex;
    flex-flow: column wrap;
}

section.about {
    position: relative;
    text-align: center;
}

section.advantage {
    margin-top: 100px;
}

section.menu-1 {
    margin-top: 40px;
    padding: 40px 80px;
    background-color: $black2;
    .menu-list {
        width: 50%;
    }
}

.menu-item-1 {
    display: flex;
    flex-flow: row wrap;
    & div:first-child {
        width: 40%;
        position: relative;
        h4 {
            margin-block-end: 10px;
        }
        p {
            margin-block-start: 0;
        }
    }
    & div:last-child {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        color: $primary;
    }
}